* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --titlecolor: #000000;
    --defineTestColor: #f88484;

  }

 .footerSpacing{
    margin-top: 50px;
 }