* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --titlecolor: #000000;
    --defineTestColor: #f88484;

  }


.titletext{
    color: var(--titlecolor);
    font-size: 50px;
}

