* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --titlecolor: #000000;
    --defineTestColor: #f88484;
  }

.BoxSize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    background-color: var(--defineTestColor);
}
